/* Light Theme Variables */
:root {
  --text-color: #020617;
  --bg-color: white;
  --box-shadow: rgba(0, 0, 0, 0.1);

  /* Success colors */
  --success-text: #047857;
  --success-bg: #edfdf9;
  --success-border: #10b981;
  --success-shadow: #7fffd4;

  /* Error colors */
  --error-text: #be123c;
  --error-bg: #ffeff3;
  --error-border: #f43f5e;
  --error-shadow: #ff8196;

  /* Info colors */
  --info-text: #0369a1;
  --info-bg: #f0f9ff;
  --info-border: #0ea5e9;
  --info-shadow: #84d8ff;

  /* Warning colors */
  --warning-text: #b45309;
  --warning-bg: #fffbf1;
  --warning-border: #f59e0b;
  --warning-shadow: #ffd284;

  /* Close button colors */
  --close-btn-bg: #1e293b;
  --close-btn-hover: #020617;
  --close-rich: #edfdf9;
}

/* Dark Theme Variables */
.dark {
  --text-color: #ffffff;
  --bg-color: #1e293b;
  --box-shadow: rgba(0, 0, 0, 0.3);

  /* Success colors */
  --success-text: #047857;
  --success-bg: #edfdf9;
  --success-border: #10b981;
  --success-shadow: #7fffd4;

  /* Error colors */
  --error-text: #be123c;
  --error-bg: #ffeff3;
  --error-border: #f43f5e;
  --error-shadow: #ff8196;

  /* Info colors */
  --info-text: #0369a1;
  --info-bg: #f0f9ff;
  --info-border: #0ea5e9;
  --info-shadow: #84d8ff;

  /* Warning colors */
  --warning-text: #b45309;
  --warning-bg: #fffbf1;
  --warning-border: #f59e0b;
  --warning-shadow: #ffd284;

  /* Close button colors */
  --close-btn-bg: #ffffff;
  --close-btn-hover: #edfdf9;
  --close-rich: #334155;
}

.zenithui-toast-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  width: 350px;
  max-width: 350px;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 0px 4px 6px var(--box-shadow);
}

.zenithui-toast {
  display: flex;
  align-items: center;
  gap: 8px;
}

.zenithui-toast-close {
  position: absolute;
  top: 4px;
  right: 4px;
  transform: translate(50%, -50%);
  border: none;
  border-radius: 100%;
  background-color: var(--close-btn-bg);
  color: var(--bg-color);
  padding: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.zenithui-toast-close:hover {
  background-color: var(--close-btn-hover);
}

.zenithui-toast-close:active {
  border: 0px;
  outline: 2px solid #020617;
}

.zenithui-toast-close:focus {
  border: 0px;
  outline: 2px solid var(--close-btn-hover);
}

.zenithui-toast-close:focus-visible {
  border: 0px;
  outline: 2px solid var(--close-btn-hover);
}

.zenithui-toast-close-rich:hover {
  background-color: var(--close-rich);
}
.zenithui-toast-close-rich:active {
  border: 0px;
  outline: 2px solid var(--close-rich);
}
.zenithui-toast-close-rich:focus {
  border: 0px;
  outline: 2px solid var(--close-rich);
}
.zenithui-toast-close-rich:focus-visible {
  border: 0px;
  outline: 2px solid var(--close-rich);
}

.zenithui-toast-success {
  color: var(--success-text);
  border: 1px solid var(--success-border);
  background-color: var(--success-bg);
  box-shadow: 1px 1px 2px var(--success-shadow);
}

.zenithui-toast-error {
  color: var(--error-text);
  border: 1px solid var(--error-border);
  background-color: var(--error-bg);
  box-shadow: 1px 1px 2px var(--error-shadow);
}

.zenithui-toast-info {
  color: var(--info-text);
  border: 1px solid var(--info-border);
  background-color: var(--info-bg);
  box-shadow: 1px 1px 2px var(--info-shadow);
}

.zenithui-toast-warning {
  color: var(--warning-text);
  border: 1px solid var(--warning-border);
  background-color: var(--warning-bg);
  box-shadow: 1px 1px 2px var(--warning-shadow);
}

/*
    Animations ----------------------------------------
*/

/* Fade */
.zenithui-fade-in-top {
  animation-name: zenithui-fade-in-top;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-fade-out-top {
  animation-name: zenithui-fade-out-top;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-fade-in-bottom {
  animation-name: zenithui-fade-in-bottom;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-fade-out-bottom {
  animation-name: zenithui-fade-out-bottom;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Key frame for the fade in from top */
@keyframes zenithui-fade-in-top {
  from {
    opacity: "0";
    transform: translateY(-20px);
  }
  to {
    opacity: "1";
    transform: translateY(0px);
  }
}

/* Key frame for the fade out to top */
@keyframes zenithui-fade-out-top {
  from {
    opacity: "1";
    transform: translateY(0px);
  }
  to {
    opacity: "0";
    transform: translateY(-20px);
  }
}

/* Key frame for the fade in from bottom */
@keyframes zenithui-fade-in-bottom {
  from {
    opacity: "0";
    transform: translateY(20px);
  }
  to {
    opacity: "1";
    transform: translateY(0px);
  }
}

/* Key frame for the fade out to bottom */
@keyframes zenithui-fade-out-bottom {
  from {
    opacity: "1";
    transform: translateY(0px);
  }
  to {
    opacity: "0";
    transform: translateY(20px);
  }
}

/* Slide */
.zenithui-slide-in-left {
  animation-name: zenithui-slide-in-left;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-slide-out-left {
  animation-name: zenithui-slide-out-left;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-slide-in-right {
  animation-name: zenithui-slide-in-right;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zenithui-slide-out-right {
  animation-name: zenithui-slide-out-right;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Key frame for the slide in from left */
@keyframes zenithui-slide-in-left {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0px);
  }
}

/* Key frame for the slide out to left */
@keyframes zenithui-slide-out-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(150px);
  }
}

/* Key frame for the slide in from right */
@keyframes zenithui-slide-in-right {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0px);
  }
}

/* Key frame for the slide out to right */
@keyframes zenithui-slide-out-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-150px);
  }
}
