.zenithui-toast-container {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  padding: 8px;
}

.zenithui-top-left {
  top: var(--y-offset);
  left: var(--x-offset);
}

.zenithui-top-right {
  top: var(--y-offset);
  right: var(--x-offset);
}

.zenithui-bottom-left {
  bottom: var(--y-offset);
  left: var(--x-offset);
}

.zenithui-bottom-right {
  bottom: var(--y-offset);
  right: var(--x-offset);
}

.zenithui-top-center {
  top: var(--y-offset);
  left: calc(50% - var(--x-offset));
  transform: translateX(-50%);
}

.zenithui-bottom-center {
  bottom: var(--y-offset);
  left: calc(50% - var(--y-offset));
  transform: translateX(-50%);
}
