/* Light Theme Variables */
:root {
  --x-offset: 12px;
  --y-offset: 12px;

  --zenithui-loader-bg: #000000;

  --text-color: #020617;
  --bg-color: white;
  --box-shadow: rgba(0, 0, 0, 0.1);

  /* Success colors */
  --success-text: #047857;
  --success-bg: #edfdf9;
  --success-border: #10b981;
  --success-shadow: #7fffd4;

  /* Error colors */
  --error-text: #be123c;
  --error-bg: #ffeff3;
  --error-border: #f43f5e;
  --error-shadow: #ff8196;

  /* Info colors */
  --info-text: #0369a1;
  --info-bg: #f0f9ff;
  --info-border: #0ea5e9;
  --info-shadow: #84d8ff;

  /* Warning colors */
  --warning-text: #b45309;
  --warning-bg: #fffbf1;
  --warning-border: #f59e0b;
  --warning-shadow: #ffd284;

  /* Close button colors */
  --close-btn-bg: #1e293b;
  --close-btn-hover: #020617;
  --close-rich: #edfdf9;
}

/* Dark Theme Variables */
.dark {
  --zenithui-loader-bg: #ffffff;

  --text-color: #ffffff;
  --bg-color: #1e293b;
  --box-shadow: rgba(0, 0, 0, 0.3);

  /* Success colors */
  --success-text: #047857;
  --success-bg: #edfdf9;
  --success-border: #10b981;
  --success-shadow: #7fffd4;

  /* Error colors */
  --error-text: #be123c;
  --error-bg: #ffeff3;
  --error-border: #f43f5e;
  --error-shadow: #ff8196;

  /* Info colors */
  --info-text: #0369a1;
  --info-bg: #f0f9ff;
  --info-border: #0ea5e9;
  --info-shadow: #84d8ff;

  /* Warning colors */
  --warning-text: #b45309;
  --warning-bg: #fffbf1;
  --warning-border: #f59e0b;
  --warning-shadow: #ffd284;

  /* Close button colors */
  --close-btn-bg: #ffffff;
  --close-btn-hover: #edfdf9;
  --close-rich: #334155;
}
