:root {
  --zenithui-toast-action-bg-color: #075985;
  --zenithui-toast-action-text-color: #000000;
  --zenithui-toast-cancel-bg-color: #64748b;
}

.dark {
  --zenithui-toast-action-bg-color: #0284c7;
  --zenithui-toast-action-text-color: #ffffff;
  --zenithui-toast-cancel-bg-color: #475569;
}

.zenithui-toast-btn {
  padding: 8px 16px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background-color: var(--zenithui-toast-action-bg-color);
  color: var(--zenithui-toast-action-text-color);
}

.cancel {
  background-color: transparent;
  border: var(--zenithui-toast-cancel-bg-color) 1px solid;
}
