/**
 
  Styles for time-picker.tsx

*/

/* Button */
.zenithui-time-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 10rem; /* max-w-40 */
  border: 1px solid #e2e8f0; /* border-slate-200 */
  background-color: white;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  font-size: 0.875rem; /* text-sm */
  color: #0f172a; /* text-slate-950 */
  border-radius: 0.375rem; /* rounded-md */
  transition: all 0.3s ease-in-out;
}

/* Hover state */
.zenithui-time-trigger:hover {
  border-color: #e2e8f0; /* hover:border-slate-200 */
  background-color: #e2e8f0; /* hover:bg-slate-200 */
}

/* Active state */
.zenithui-time-trigger:active {
  border: 1px solid #e2e8f0;
  outline: none;
}

/* Focus state */
.zenithui-time-trigger:focus {
  outline: 1px solid #3b82f6; /* focus:ring-blue-500 */
}

/* Focus-visible state */
.zenithui-time-trigger:focus-visible {
  outline: 1px solid #3b82f6; /* focus-visible:ring-blue-500 */
}

/* Disabled state */
.zenithui-time-trigger:disabled {
  cursor: not-allowed;
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #6b7280; /* text-gray-500 */
  opacity: 0.5;
}

/* Disabled hover state */
.zenithui-time-trigger:disabled:hover {
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #6b7280; /* text-gray-500 */
}

/* Disabled active and focus states */
.zenithui-time-trigger:disabled:active,
.zenithui-time-trigger:disabled:focus {
  outline: none;
}

/* Popover content */
.zenithui-time-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* grid-cols-3 */
  justify-items: center;
  height: 20rem; /* h-80 */
  width: 15rem; /* w-60 */
  gap: 0.25rem; /* gap-1 */
  overflow: hidden;
  border-radius: 0.375rem; /* rounded-md */
  padding: 0 0rem 0 0rem; /* px-0 */
  padding-top: 0.75rem; /* py-3 */
  padding-bottom: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* shadow-md */
  background-color: white; /* bg-white */
}

.zenithui-time-custom-scroll {
  height: 100%;
  overflow-y: auto;
}

.zenithui-time-scroll-container {
  pointer-events: auto; /* Enable pointer interactions */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  gap: 0.5rem; /* gap-2 */
  padding: 0.25rem;
}

.zenithui-time-item {
  height: 3rem; /* h-12 */
  width: 3rem; /* w-12 */
  transition: all 0.2s ease-in-out; /* transition-all duration-200 ease-in-out */
  background-color: white; /* bg-white */
  color: #0f172a; /* text-slate-950 */
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem; /* rounded-md */
  display: flex;
  justify-content: center;
  align-items: center;
}

.zenithui-time-item:focus {
  outline: 2px solid #0369a1;
}
.zenithui-time-item:focus-visible {
  outline: 2px solid #0369a1;
}

/* Selected state */
.zenithui-time-item.zenithui-selected {
  background-color: #0369a1; /* bg-sky-700 */
  color: white; /* text-white */
}

/* Hover state for zenithui-selected */
.zenithui-time-item.zenithui-selected:hover {
  background-color: #075985; /* hover:bg-sky-800 */
}
.zenithui-time-item.zenithui-selected:focus {
  outline: 2px solid #e2e8f0;
}
.zenithui-time-item.zenithui-selected:focus-visible {
  outline: 2px solid #e2e8f0;
}

/**
  
  Global styles for scrollbar
  
*/

/* Scrollbar */
.zenithui-time-custom-scroll {
  scrollbar-width: thin;
}

.zenithui-time-custom-scroll {
  scrollbar-color: #cbd5e1 transparent;
}

.zenithui-time-custom-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
}

.zenithui-time-custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* *::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
} */

/* ::-webkit-scrollbar {
  max-width: var(--scrollbar-width-legacy);
  max-height: var(--scrollbar-width-legacy);
} */
