@import "tailwindcss";
@config "../tailwind.config.ts";

/* Light & Dark Theme Variables */
:root {
  --zenithui-day-picker-bg-color: white;
  --zenithui-day-picker-text-color: black;
  --zenithui-day-picker-selected-text-color: white;
  --zenithui-day-picker-shadow-color: rgba(0, 0, 0, 0.1);
  --zenithui-day-picker-hover-bg: #f3f4f6;
  --zenithui-day-picker-selected-bg: rgba(59, 130, 246, 1);
  --zenithui-day-picker-selected-bg-hover: rgba(59, 130, 246, 0.75);
  --zenithui-day-picker-range-bg: rgba(59, 130, 246, 0.5);
  --zenithui-day-picker-outline-color: rgba(59, 130, 246, 0.5);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --zenithui-day-picker-bg-color: #1e1e1e;
    --zenithui-day-picker-text-color: white;
    --zenithui-day-picker-shadow-color: rgba(255, 255, 255, 0.2);
    --zenithui-day-picker-hover-bg: #374151;
    --zenithui-day-picker-selected-bg: rgba(255, 255, 255, 1);
    --zenithui-day-picker-selected-bg-hover: rgba(255, 255, 255, 0.75);
    --zenithui-day-picker-range-bg: rgba(255, 255, 255, 0.5);
    --zenithui-day-picker-outline-color: rgba(255, 255, 255, 1);
  }
} */

.dark {
  --zenithui-day-picker-bg-color: #1e1e1e;
  --zenithui-day-picker-text-color: white;
  --zenithui-day-picker-selected-text-color: black;
  --zenithui-day-picker-shadow-color: rgba(255, 255, 255, 0.2);
  --zenithui-day-picker-hover-bg: #374151;
  --zenithui-day-picker-selected-bg: rgba(255, 255, 255, 1);
  --zenithui-day-picker-selected-bg-hover: rgba(255, 255, 255, 0.75);
  --zenithui-day-picker-range-bg: rgba(255, 255, 255, 0.25);
  --zenithui-day-picker-outline-color: rgba(255, 255, 255, 0.5);
}

.zenithui-calendar {
  width: 100%;
  min-width: 300px;
  max-width: 320px;
  background-color: var(--zenithui-day-picker-bg-color);
  color: var(--zenithui-day-picker-text-color);
  padding: 16px;
  border-radius: 8px;
}

.zenithui-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.zenithui-nav-button {
  border: none;
  border-radius: 6px;
  background: none;
  padding: 8px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s;
}

.zenithui-nav-button:hover {
  background-color: var(--zenithui-day-picker-hover-bg);
}

.zenithui-nav-button:focus {
  outline: 2px solid var(--zenithui-day-picker-hover-bg);
}

.zenithui-nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.zenithui-arrow-icon {
  width: 20px;
  height: 20px;
}

.zenithui-arrow-icon.left {
  transform: rotate(180deg);
}

.zenithui-month-caption {
  font-size: 14px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 6px;
  background: none;
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s;
}

.zenithui-month-caption:hover {
  border: 2px solid var(--zenithui-day-picker-hover-bg);
}

.zenithui-month-caption:focus {
  outline: 2px solid var(--zenithui-day-picker-hover-bg);
}

.zenithui-month-caption:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.zenithui-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.zenithui-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 12px;
  color: gray;
}

.zenithui-weekday {
  padding: 8px 0;
}

.zenithui-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.zenithui-gap-x-4 {
  row-gap: 4px;
  column-gap: 0px;
}

.zenithui-day {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background-color: var(--zenithui-day-picker-bg-color);
  color: var(--zenithui-day-picker-text-color);
}

.zenithui-day:hover {
  background-color: var(--zenithui-day-picker-hover-bg);
}

.zenithui-day:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Selected Day */
.zenithui-day[data-selected="true"]:not([data-selected-custom="true"]) {
  background-color: var(--zenithui-day-picker-selected-bg);
  color: var(--zenithui-day-picker-selected-text-color);
}

.zenithui-day[data-selected="true"]:not([data-selected-custom="true"]):hover {
  background-color: var(--zenithui-day-picker-selected-bg-hover);
  color: var(--zenithui-day-picker-selected-text-color);
}

/* Range Start */
.zenithui-day[data-range-start="true"]:not([data-range-start-custom="true"]) {
  background-color: var(--zenithui-day-picker-selected-bg);
  color: var(--zenithui-day-picker-selected-text-color);
  border-radius: 6px 0 0 6px;
}

.zenithui-day[data-range-end="true"]:not([data-range-end-custom="true"]) {
  background-color: var(--zenithui-day-picker-selected-bg);
  color: var(--zenithui-day-picker-selected-text-color);
  border-radius: 0 6px 6px 0;
}

/* In-Range Dates */
.zenithui-day[data-range-dates="true"]:not([data-range-dates-custom="true"]) {
  background-color: var(--zenithui-day-picker-range-bg);
  color: var(--zenithui-day-picker-selected-text-color);
  border-radius: 0px;
}

/* Today */
.zenithui-day[data-today="true"]:not([data-today-custom="true"]) {
  border: 1.5px solid var(--zenithui-day-picker-outline-color);
}

/* Outside Date */
.zenithui-day[data-outside-date="true"]:not([data-outside-date-custom="true"]) {
  opacity: 0.5;
}

/* Hide Outside Dates */
.zenithui-day[data-visibility="true"] {
  visibility: hidden;
}
